<ion-header no-border>
  <logout-header [title]="user?.name"></logout-header>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <button ion-item *ngFor="let access of pages; let i = index" (click)="openPage(access.page)" detail-none>
      <ion-thumbnail item-start>
        <img src="assets/imgs/icons/{{access.page.icon}}.png">
      </ion-thumbnail>
      <h2>{{ access.page.title }}</h2>
      <p *ngIf="access.count == 1">1 acesso</p>
      <p *ngIf="access.count > 1">{{ access.count }} acessos</p>
      <p>
        <ion-icon name="star" color="star" *ngIf="i == 0"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 0"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 0"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 0"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 0"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 1"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 1"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 1"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 1"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 2"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 2"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 2"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 3"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 3"></ion-icon>
        <ion-icon name="star" color="star" *ngIf="i == 4"></ion-icon>
      </p>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>