.patrimonium-light-theme {
  
  ion-content {
    background-image: linear-gradient(color($colors, light), white);
  }

  ion-label {
    color: color($colors, text-light);
  }

  ion-icon[item-end] {
    color: color($colors, text-light);
  }

  h1, h2, h3, h4, h5, h6, p {
    color: color($colors, text-light);
  }

  .bar-buttons,
  .toolbar .toolbar-md,
  .toolbar-title {
    color: color($colors, text-light);
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: color($colors, text-light);
  }

  .bar-button-default-ios,
  .bar-button-clear-ios-default,
  .bar-button-ios-default {
    color: color($colors, text-light);
  }

  .item-md p {
    color: color($colors, text-light-p);
  }

  .item-input .label-md {
    color: color($colors, text-light-p);
  }

  .filters {

    ion-col {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.6rem;
   
        ion-icon {
            color: color($colors, text-light-p);
        }
   
        &.col-with-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
   
    p {
        color: color($colors, text-light);
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
   
    .selected {
     text-decoration: underline;
    }
   }

   .text-input {
    color: color($colors, text-default-p);
  }
}