$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #003e54,
  secondary:  #0079ad,
  light:      #f4f4f4,
  star:       #edc741,
  text-default:#f4f4f4,
  text-default-p: #e0e0e0,
  text-light:  #003e54,
  text-light-p: #666
);

$toolbar-background: transparent;

$tabs-ios-background: transparent;
$tabs-md-background: transparent;
$tabs-wp-background: transparent;

$tabs-ios-border-color: transparent;
$tabs-md-border-color: transparent;
$tabs-wp-border-color: transparent;

$list-background-color: transparent;

$list-ios-background-color: transparent;
$list-md-background-color: transparent;
$list-wp-background-color: transparent;

$list-ios-activated-background-color: transparent;
$list-md-activated-background-color: transparent;
$list-wp-activated-background-color: transparent;

$item-ios-divider-background: transparent;
$item-md-divider-background: transparent;
$item-wp-divider-background: transparent;

@import "ionic.theme.default";

@import "./patrimonium-default-theme";
@import "./patrimonium-light-theme";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
